@import url("main.css");
@import url("table.css");
@import url("navigation.css");
@import url("footer.css");

label {
    margin: 20px 20px 10px 20px;
}
input {
    margin: 0px 20px;
    font-size: 14pt;
    width: 1000px;
    color: #404040;
    width: 300px;
}
.button {
    margin: 5px;
    width: 100px;
}
#search {
    margin: 20px 5px;
    width: unset;
}
    