#logo {
    font-family: "Courier New", Courier, monospace;
    font-size: 16pt;
    padding: 8px 20px;
    font-weight: bolder;
    margin: 0px;
    color: white;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}
#navigation a, #userButton {
    display: block;
    color: white;
    transition:
        background-color 0.3s ease-in-out 0s;
    background: none;
    text-decoration: none;
}
#userButton {
    border-radius: 0px;
    font-size: 16pt;
    padding: 8px 20px;
    outline: none;
    margin: 0px;
}
#menu a:hover, #userButton:hover, .dropdown a:hover {
    background-color: lightskyblue;
}
#menu a:active {
    background-color: grey;
}
#navigation li {
    list-style-type: none;
}
#navigation {
    padding: 0px;
    margin: 0px;
}
@media (min-width: 0px) {
    #navigation {
        display: none;
        flex-direction: column;
        background-color: grey;
        width: 100%;
    }
    #navigation a {
        align-self: stretch;
        font-size: 14pt;
        padding: 5px 15px;
    }
    #menuButton {
        cursor: pointer;
        align-self: stretch;
        background-color: #404040;
        padding: 10px;
    }
    #checkbox:checked + #menu {
        display: flex;
    }
}
@media (min-width: 1100px) {
    #navigation {
        display: flex;
        visibility: visible;
        flex-direction: row;
        justify-content: center;
        background-color: #404040;
        width: 100%;
    }
    #navigation a {
        font-size: 14pt;
        padding: 8px 20px;
    }
    #menuButton {
        display: none;
    }
}
@media (min-width: 1200px) {
    #navigation {
        display: flex;
        visibility: visible;
        flex-direction: row;
        justify-content: space-between;
        background-color: #404040;
        width: 100%;
    }
    #navigation a {
        font-size: 16pt;
        padding: 8px 20px;
    }
    #menuButton {
        display: none;
    }
}
.account {
    pointer-events: none;
    vertical-align: middle;
    width: 24px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownList {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 180px;
    right: 0%;
    overflow: auto;
    text-decoration: none;
}
.dropdownItem {
    text-decoration: none;
    display: block;
}
.show {
    display: block;
}