@import url("main.css");

.text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
textarea {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    font-size: 14pt;
}
input {
    margin: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    max-width: 500px;
}