<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assignment.css"/>
    <link rel="icon" href="static/images/favicon.png">
	<title>CSCB20: Course Team</title>
</head>
<body>
<div id="navigation"></div>
    <label id="menuButton" for="checkbox"><img src="static/images/menu.svg" alt="Menu"></label>
    <input type="checkbox" id="checkbox"></input>
    <ul id="menu">
        <li><a href="index">Home</a></li>
        <li><a href="team">Course Team</a></li>
        <li><a href="calendar">Calendar</a></li>
        <li><a href="lectures">Lectures</a></li>
        <li><a href="labs">Labs</a></li>
        <li><a href="assignment">Assignments</a></li>
        <li><a href="https://piazza.com/mail.utoronto.ca/">Piazza</a></li>
        <li><a href="https://markus.utsc.utoronto.ca/cscb20w20">Markus</a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="feedback">Feedback</a></li>
    </ul>
</div>
<div class="content">
    <h1>Assignments</h1>
    <div class="table">
        <div class="heading">
            <div class="cell"></div>
            <div class="cell">Topic</div>
            <div class="cell">Due Date</div>
            <div class="cell">Weight</div>
            <div class="cell">Handout</div>
            <div class="cell">Additional</div>
        </div>
        <div class="row">
            <div class="cell">1</div>
            <div class="cell">Relational Algebra and MySQL</div>
            <div class="cell">
                Part 1: Wednesday Feb. 1, 11.59pm<br>
                Part 2 and 3: Friday Feb. 17, 11.59pm
            </div>
            <div class="cell">15%</div>
            <div class="cell">
                <a href="pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">2</div>
            <div class="cell">HTML, CSS, PHP</div>
            <div class="cell">
                Part 1: Friday March. 10, 11.59pm<br>
                Part 2: Friday March. 19, 11.59pm
            </div>
            <div class="cell">15%</div>
            <div class="cell">
                <a href="pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a href="pdf/fakePDF.pdf">A2.zip</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">3</div>
            <div class="cell">Web Application and Database</div>
            <div class="cell">Friday March 31, 11.59pm</div>
            <div class="cell">15%</div>
            <div class="cell">
                <a href="pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a href="pdf/fakePDF.pdf">Marking Scheme</a>
            </div>
        </div>
    </div>
    <div class="mobileTable">
        <div class="heading">
            <div class="cell"></div>
            <div class="cell">Topic</div>
            <div class="cell">Due Date</div>
        </div>
        <div class="row">
            <div class="cell">1</div>
            <div class="cell">
                Relational Algebra and MySQL<br>
                <a href="pdf/fakePDF.pdf">Handout</a>
            </div>
            <div class="cell">
                Part 1: Wednesday Feb. 1, 11.59pm<br>
                Part 2 and 3: Friday Feb. 17, 11.59pm<br>
                Worth 15%
            </div>
        </div>
        <div class="row">
            <div class="cell">2</div>
            <div class="cell">
                HTML, CSS, PHP<br>
                <a href="pdf/fakePDF.pdf">Handout</a><br>
                <a href="pdf/fakePDF.pdf">A2.zip</a>
            </div>
            <div class="cell">
                Part 1: Friday March. 10, 11.59pm<br>
                Part 2: Friday March. 19, 11.59pm<br>
                Worth 15%
            </div>
        </div>
        <div class="row">
            <div class="cell">3</div>
            <div class="cell">
                Web Application and Database<br>
                <a href="pdf/fakePDF.pdf">Handout</a><br>
                <a href="pdf/fakePDF.pdf">Marking Scheme</a>
            </div>
            <div class="cell">
                Friday March 31, 11.59pm<br>
                Worth 15%
            </div>
        </div>
    </div>
    <p class="description">
        Submit Assignments to <a href="https://markus.utsc.utoronto.ca/cscb20w20">Markus</a>!
    </p>
    <hr>
    <div class="tableStay">
        <div class="heading">
            <div class="cell">Solution</div>
        </div>
        <div class="row">
            <div class="cell">
                <a href="pdf/fakePDF.pdf">A1</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <a href="pdf/fakePDF.pdf">A2</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <a href="pdf/fakePDF.pdf">A3</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
        Faculty of Computer Science at U of T
    </a>
    <br>
    Site design by Chi Jian Hsu & Philip Kattathara
</footer>
<!-- This <script> is to prevent transition effect from occuring on load up
    Find out more here
    https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load -->
<script> </script>
</body>
</html>
