<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/instructor_remark.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/loadNav.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
    <title>CSCB20: Remark</title>
</head>
<body>
<div id="navigation"></div>
<div class="content">
    <h1>Remark Requests</h1>
    <form method="POST">
    <div class="search">
        <label>Search a Name:</label>
        <input type="text" placeholder="Name" name="name">
        <input id="search" class="button" type="submit" name="button" value="Search">
    </div>
    {% for message in get_flashed_messages() %}
        <h3 class="flashMessage">{{ message }}</h3>
    {% endfor %}
    <div class="table mobileTable">
        <div class="heading">
            <div class="cell">Name</div>
            <div class="cell">Assignment</div>
            <div class="cell">Reason</div>
            <div class="cell">Status</div>
        </div>
        {% for item in remark %}
        <div class="row">
            <div class="cell">{{ item['name'] }}</div>
            <div class="cell">{{ item['assignment'] }}</div>
            <div class="cell">{{ item['reason'] }}</div>
            <!-- Spaces in value are necessary! -->
            <div class="cell"><input class="button" type="submit" name="button" value="Resolve    {{ item['id'] }}"></div>
        </div>
        {% endfor %}
    </div>
    </form>
    <p class="description">
        Go to the <a href="grades">Grades page</a> to modify a students grade
    </p>
</div>
<footer></footer>
</body>
</html>