<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/table.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/loadNav.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
    <title>CSCB20: Feedback</title>
</head>
<body>
<div id="navigation"></div>
<div class="content">
    <h1>Feedback</h1>
    <div class="table">
        <div class="heading">
            <div class="cell">Email</div>
            <div class="cell">What do you like about the instructor teaching?</div>
            <div class="cell">What do you recommend the instructor to do to improve their teaching?</div>
            <div class="cell">What do you like about the labs?</div>
            <div class="cell">What do you recommend the lab instructors to do to improve their lab teaching?</div>
        </div>
        {% for item in feedback %}
        <div class="row">
            <div class="cell">{{ item['s_email'] }}</div>
            <div class="cell">{{ item['q_a'] }}</div>
            <div class="cell">{{ item['q_b'] }}</div>
            <div class="cell">{{ item['q_c'] }}</div>
            <div class="cell">{{ item['q_d'] }}</div>
        </div>
        {% endfor %}
        </div>
    <div class="mobileTable">
        <div class="heading">
            <div class="cell">Email</div>
            <div class="cell">What do you like about the instructor teaching?</div>
        </div>
        {% for item in feedback %}
        <div class="row">
            <div class="cell">{{ item['s_email'] }}</div>
            <div class="cell">{{ item['q_a'] }}</div>
        </div>
        {% endfor %}
        <div class="heading">
            <div class="cell">Email</div>
            <div class="cell">What do you recommend the instructor to do to improve their teaching?</div>
        </div>
        {% for item in feedback %}
        <div class="row">
            <div class="cell">{{ item['s_email'] }}</div>
            <div class="cell">{{ item['q_b'] }}</div>
        </div>
        {% endfor %}
        <div class="heading">
            <div class="cell">Email</div>
            <div class="cell">What do you like about the labs?</div>
        </div>
        {% for item in feedback %}
        <div class="row">
            <div class="cell">{{ item['s_email'] }}</div>
            <div class="cell">{{ item['q_c'] }}</div>
        </div>
        {% endfor %}
        <div class="heading">
            <div class="cell">Email</div>
            <div class="cell">What do you recommend the lab instructors to do to improve their lab teaching?</div>
        </div>
        {% for item in feedback %}
        <div class="row">
            <div class="cell">{{ item['s_email'] }}</div>
            <div class="cell">{{ item['q_d'] }}</div>
        </div>
        {% endfor %}
    </div>
    {% for message in get_flashed_messages() %}
        <h3 class="flashMessage">{{ message }}</h3>
    {% endfor %}
</div>
<footer></footer>
</body>
</html>