<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/lectures.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/loadNav.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
	<title>CSCB20: Lectures</title>
</head>
<body>
<div id="navigation"></div>
<div class="content">
    <h1>Lectures</h1>
    <div class="table">
        <div class="heading">
            <div class="cell">Week</div>
            <div class="cell">Topic</div>
            <div class="cell">Slides</div>
            <div class="cell">Worksheets</div>
            <div class="cell">In Class</div>
        </div>
        <div class="row">
            <div class="cell">1</div>
            <div class="cell">Introduction, Databases background</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">3</div>
            <div class="cell">Schema Diagrams, Relational Algebra</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
                <br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Solutions</a>
            </div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">4</div>
            <div class="cell">SQL and MySQL</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">MySQL</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">5</div>
            <div class="cell">MySQL Queries, Creating and Editing Tables</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
                <br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Solutions</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">MySQL</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">6</div>
            <div class="cell">MySQL Outer Joins, Views, NULL, string functions, HTML</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
                <br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Solutions</a>
            </div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">7</div>
            <div class="cell">HTML, CSS</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">8</div>
            <div class="cell">PHP</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">9</div>
            <div class="cell">PHP and SQL</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">query.php</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">10</div>
            <div class="cell">JavaScript and jQuery</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">11</div>
            <div class="cell">jQuery, AJAX, JSON</div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell">12</div>
            <div class="cell">Last Year's final</div>
            <div class="cell"></div>
            <div class="cell">
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a>
            </div>
            <div class="cell"></div>
        </div>
    </div>
    <div class="mobileTable">
        <div class="heading">
            <div class="cell">Week</div>
            <div class="cell">Content</div>
        </div>
        <div class="row">
            <div class="cell">1</div>
            <div class="cell">
                Introduction, Databases background<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Worksheet</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">3</div>
            <div class="cell">
                Schema Diagrams, Relational Algebra<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Worksheet</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Solutions</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">4</div>
            <div class="cell">
                SQL and MySQL<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Worksheet</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">MySQL</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">5</div>
            <div class="cell">
                MySQL Queries, Creating and Editing Tables<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">PDF</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Solutions<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">MySQL</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">6</div>
            <div class="cell">
                MySQL Outer Joins, Views, NULL, string functions, HTML<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Worksheet</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Solutions</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">7</div>
            <div class="cell">
                HTML, CSS<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">8</div>
            <div class="cell">
                PHP<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">9</div>
            <div class="cell">
                PHP and SQL<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a><br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">query.php</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">10</div>
            <div class="cell">
                JavaScript and jQuery<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">11</div>
            <div class="cell">
                jQuery, AJAX, JSON<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Slides</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">12</div>
            <div class="cell">
                Last Year's final<br>
                <a target="_blank" rel="noopener noreferrer" href="/static/pdf/fakePDF.pdf">Worksheet</a>
            </div>
        </div>
    </div>
</div>
<footer></footer>
</body>
</html>