<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css"/>
    <link rel="icon" href="static/images/favicon.png">
	<title>CSCB20: Login</title>
</head>
<body>
<div class="content">
    <img src="static/images/utsc_logo.png" alt="UTSC">
    <h2>CSCB20: Login</h2>
    <form action="/authenticating" method="POST">
        <input type="text" placeholder="username" name="username"><br>
        <input type="text" placeholder="password"><br>
        <input type="checkbox" name="checkbox">Instructor</input>
        <button>Submit</button>
    </form>
    <a href="">Don't have an account? Sign up here</a>
    {% if errors %}
        {% for message in errors %}
            <b>{{ message }}</b>
        {% endfor %}
    {% endif %}

</div>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
        Faculty of Computer Science at U of T
    </a>
    <br>
    Site design by Chi Jian Hsu & Philip Kattathara
</footer>
<!-- This <script> is to prevent transition effect from occuring on load up
    Find out more here
    https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load -->
<script> </script>
</body>
</html>
