<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css"/>
    <link rel="icon" href="static/images/favicon.png">
	<title>CSCB20</title>
</head>
<body>
<img src="static/images/utsc_logo.png" alt="UTSC">
<div class="content">
    <h1>Course Description</h1>
    <input type="form-element" type="text" placeholder="username"><br>
    <input type="form-element" type="text" placeholder="password">
</div>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
        Faculty of Computer Science at U of T
    </a>
    <br>
    Site design by Chi Jian Hsu & Philip Kattathara
</footer>
<!-- This <script> is to prevent transition effect from occuring on load up
    Find out more here
    https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load -->
<script> </script>
</body>
</html>
