<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/resources.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/loadNav.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
	<title>CSCB20: Resources</title>
</head>
<body>
<div id="navigation"></div>
<div class="content">
    <h1>Course Resources</h1>
    <h2>Online Resources</h2>
    <li>
        <a href="index.html">
          Course website</a>
        <br>
        <p class="tab">
            Course information, lecture notes, tutorial material, important
            announcements, etc. will be posted on the course website. It is
            your responsibility to visit it frequently.</p>
        <br>
    </li>
    <li>
        Beginner Tutorial for
        <a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200">
          MySQL</a>
        <br>
        <br>
        <br>
    </li>
    <li>
        Email Communication
        <br>
        <p class="tab">
            Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.</p>
        <br>
    </li>
    <li>
        <a href="https://piazza.com/mail.utoronto.ca/">
          Discussion Board</a>
        <br>
        <p class="tab">
            You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board.</p>
        <br>
    </li>
    
<div class="content">
    <h2>Software and Documenation</h2>
    <li>
        Logging into Mathlab
        <br>
        <ol>
            <li>
                Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing: <code>ssh utorid@mathlab.utsc.utoronto.ca</code>.<br> Then enter your password
            </li>
            <br>
            <li>
                Windows - you will need a SSH client. PuTTY is a good free one. You can download and install here: <a href="http://www.putty.org/">PuTTY</a>. Use the same command as above to login to mathlab: <code>ssh utorid@mathlab.utsc.utoronto.ca</code>
            </li>
        </ol>   
    </li>
    </div>
</div>
<footer></footer>
</body>
</html>