<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/signup.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/signup.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
    <title>CSCB20: Sign up</title>
</head>
<body>
<div class="content">
    <h2>CSCB20: Sign Up</h2>
    <form method="POST">
        <label>Email:</label>
        <input type="text" name="email">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Username:</label>
        <input type="text" name="username">
        <div class="passwordBox">
            <div class="passwordField">
                <label>Password:</label>
                <input type="password" name="password">
            </div>
            <div class="passwordField">
                <label>Confirm Password:</label>
                <input type="password" name="confirm_password">
            </div>
        </div>
        <!--Checkbox from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp-->
        <label class="container">
            <input type="checkbox" name="checkbox">I'm an Instructor
            <span class="checkmark"></span>
        </label>
        <select class="role" name="role">
            <option value="Teaching Assistant">Teaching Assistant</option>
            <option value="Instructor">Instructor</option>
        </select>
        <button>Sign up</button>
    </form>
    {% for message in get_flashed_messages() %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
</div>
<footer></footer>
</body>
</html>
