<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/feedback.css"/>
    <link rel="icon" href="static/images/favicon.png">
	<title>CSCB20: Remark</title>
</head>
<body>
<div id="navigation"></div>
    <label id="menuButton" for="checkbox"><img src="static/images/menu.svg" alt="Menu"></label>
    <input type="checkbox" id="checkbox"></input>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="team">Course Team</a></li>
        <li><a href="calendar">Calendar</a></li>
        <li><a href="lectures">Lectures</a></li>
        <li><a href="labs">Labs</a></li>
        <li><a href="assignment">Assignments</a></li>
        <li><a href="https://piazza.com/mail.utoronto.ca/">Piazza</a></li>
        <li><a href="https://markus.utsc.utoronto.ca/cscb20w20">Markus</a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="feedback">Feedback</a></li>
    </ul>
</div>
<div class="content">
    <h1>Remark Request</h1>
    <p class="description">
        Please enter the Assignment, Question(s) that you would like to have remarked and the reason for the remark.
    </p>
    <h2>Remark</h2>
    <div class="text">
        <input type="text" placeholder="Assignment">
        <textarea rows="10" placeholder="Reason"></textarea>
    </div>
    <button>Submit</button>
</div>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
        Faculty of Computer Science at U of T
    </a>
    <br>
    Site design by Chi Jian Hsu & Philip Kattathara
</footer>
<!-- This <script> is to prevent transition effect from occuring on load up
    Find out more here
    https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load -->
<script> </script>
</body>
</html>