<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/student_grades.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/loadNav.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
    <title>CSCB20: Grades</title>
</head>
<body>
<div id="navigation"></div>
<div class="content">
    <h1>Grades</h1>
    <div class="table mobileTable">
        <div class="heading">
            <div class="cell">Assignment</div>
            <div class="cell">Grade</div>
        </div>
        {% for item in grade %}
        <div class="row">
            <div class="cell">{{ item['assignment'] }}</div>
            <div class="cell">{{ item['grade'] }}</div>
        </div>
        {% endfor %}
    </div>
    {% for message in get_flashed_messages() %}
        <h3 class="flashMessage">{{ message }}</h3>
    {% endfor %}
    <p class="description">
        Is there an issue with your mark? If so, you can <a href="remark">request a remark</a>!
    </p>
</div>
<footer></footer>
</body>
</html>