<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/team.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <title>CSCB20: Course Team</title>
</head>
<body>
<div id="navigation"></div>
    <label id="menuButton" for="checkbox"><img src="static/images/menu.svg" alt="Menu"></label>
    <input type="checkbox" id="checkbox"></input>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="team">Course Team</a></li>
        <li><a href="calendar">Calendar</a></li>
        <li><a href="lectures">Lectures</a></li>
        <li><a href="labs">Labs</a></li>
        <li><a href="assignment">Assignments</a></li>
        <li><a href="https://piazza.com/mail.utoronto.ca/">Piazza</a></li>
        <li><a href="https://markus.utsc.utoronto.ca/cscb20w20">Markus</a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="feedback">Feedback</a></li>
    </ul>
</div>
<div class="content">
    <h1>Course Team</h1>
    <div class="table">
        <div class="heading">
            <div class="cell">Role</div>
            <div class="cell">Name</div>
            <div class="cell">Email</div>
        </div>
        {% for item in instructor %}
        <div class="row">
            <div class="cell">{{ item['role'] }}</div>
            <div class="cell">{{ item['name'] }}</div>
            <div class="cell">
                <a href="mailto:{{ item['email'] }}">{{ item['email'] }}</a>
            </div>
        </div>
        {% endfor %}
    </div>    <div class="mobileTable">
        <div class="heading">
            <div class="cell">Contact</div>
        </div>
        <div class="row">
            <div class="cell">Instructor
                <br>Dr. Anna Bretscher
                <a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">Teaching Assistant
                <br>Vidya Ananda
                <a href="mailto:vidya.ananda@utsc.utoronto.ca">vidya.ananda@utsc.utoronto.ca</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">Teaching Assistant
                <br>Sakina Gadriwala
                <a href="">mail@utsc.utoronto.ca</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">Teaching Assistant
                <br>Brian Lam
                <a href="">mail@utsc.utoronto.ca</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">Teaching Assistant
                <br>Frederic Pun
                <a href="mailto:frederic.pun@mail.utoronto.ca">frederic.pun@mail.utoronto.ca</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">Teaching Assistant
                <br>Dharmik Shah
                <a href="">mail@utsc.utoronto.ca</a>
            </div>
        </div>
        <div class="row">
            <div class="cell">Teaching Assistant
                <br>Kevin Zhang
                <a href="">mail@utsc.utoronto.ca</a>
            </div>
        </div>
    </div>
    <p class="description">
        For Office Hours, check the <a href="calendar.html">Calendar</a>!
    </p>
</div>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
        Faculty of Computer Science at U of T
    </a>
    <br>
    Site design by Chi Jian Hsu & Philip Kattathara
</footer>
<!-- This <script> is to prevent transition effect from occuring on load up
    Find out more here
    https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load -->
<script> </script>
</body>
</html>
