<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/team.css"/>
    <link rel="icon" href="static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/loadNav.js"></script>
    <script src="static/js/loadFooter.js"></script>
    <script> </script>
    <title>CSCB20: Course Team</title>
</head>
<body>
<div id="navigation"></div>
<div class="content">
    <h1>Course Team</h1>
    <div class="table">
        <div class="heading">
            <div class="cell">Role</div>
            <div class="cell">Name</div>
            <div class="cell">Email</div>
        </div>
        {% for item in instructor %}
        <div class="row">
            <div class="cell">{{ item['role'] }}</div>
            <div class="cell">{{ item['name'] }}</div>
            <div class="cell">
                <a href="mailto:{{ item['email'] }}">{{ item['email'] }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mobileTable">
        <div class="heading">
            <div class="cell">Contact</div>
        </div>
        {% for item in instructor %}
        <div class="row">
            <div class="cell">{{ item['role'] }}
                <br>{{ item['name'] }}
                <a href="mailto:{{ item['email'] }}">{{ item['email'] }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="description">
        For Office Hours, check the <a href="calendar">Calendar</a>!
    </p>
</div>
<footer></footer>
</body>
</html>
