html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8F0F4;
    color: #404040;
}
body {
    margin: 0em;
}
.content {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    max-width: 1200px;
}
.navigation {
    display: flex;
    justify-content: center;
    background-color: #404040;
}
.navigation a {
    color: white;
    transition:
        background-color 0.2s ease-in-out 0s,
        color 0.2s ease-in-out 0s;
    background: none;
    font-size: 18pt;
    padding: 8px 20px;
    text-decoration: none;
}
.navigation a:hover {
    background-color: lightskyblue;
    color: black;
}
.navigation a:active {
    background-color: white;
    color: black;
}
.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 20px;
    font-size: 24pt;
}
.subtitle {
    font-size: 20pt;
    border-bottom: 2px lightskyblue solid;
}
.description p {
    font-size: 14pt;
}
.general h3 {
    font-size: 14pt;
    font-weight: normal;
}